In [0]:
%fs ls /FileStore/tables

path,name,size,modificationTime
dbfs:/FileStore/tables/HR_Employee.csv,HR_Employee.csv,227977,1704495271000
dbfs:/FileStore/tables/asa_airline/,asa_airline/,0,1704175613000
dbfs:/FileStore/tables/categories_csv.txt,categories_csv.txt,1029,1703833197000
dbfs:/FileStore/tables/categories_csv_json.txt/,categories_csv_json.txt/,0,1704156061000
dbfs:/FileStore/tables/categories_csv_pipe.txt/,categories_csv_pipe.txt/,0,1704155072000
dbfs:/FileStore/tables/categories_csv_pipe_options.txt/,categories_csv_pipe_options.txt/,0,1704155634000
dbfs:/FileStore/tables/categories_json-1.txt,categories_json-1.txt,4451,1703832784000
dbfs:/FileStore/tables/categories_json-1.txt_parquet/,categories_json-1.txt_parquet/,0,1704137600000
dbfs:/FileStore/tables/categories_json-1_parquet/,categories_json-1_parquet/,0,1704137126000
dbfs:/FileStore/tables/categories_json.txt,categories_json.txt,4451,1703832643000
dbfs:/FileStore/tables/categories_json_parquet/,categories_json_parquet/,0,1704137127000
dbfs:/FileStore/tables/category.json/,category.json/,0,1704138196000
dbfs:/FileStore/tables/category.parquet/,category.parquet/,0,1704138287000
dbfs:/FileStore/tables/category_1.parquet/,category_1.parquet/,0,1704138440000
dbfs:/FileStore/tables/category_2.parquet/,category_2.parquet/,0,1704138633000
dbfs:/FileStore/tables/category_csv_pipe/,category_csv_pipe/,0,1704145424000
dbfs:/FileStore/tables/course_append_mode/,course_append_mode/,0,1704157674000
dbfs:/FileStore/tables/courses_csv.txt/,courses_csv.txt/,0,1704152956000
dbfs:/FileStore/tables/courses_csv_coalesce.txt/,courses_csv_coalesce.txt/,0,1704154215000
dbfs:/FileStore/tables/courses_json_1.txt/,courses_json_1.txt/,0,1704153510000
dbfs:/FileStore/tables/courses_json_coalesce.txt/,courses_json_coalesce.txt/,0,1704153892000
dbfs:/FileStore/tables/couses_csv_compress/,couses_csv_compress/,0,1704154738000
dbfs:/FileStore/tables/couses_csv_snappy_compress/,couses_csv_snappy_compress/,0,1704154866000
dbfs:/FileStore/tables/couses_parquet/,couses_parquet/,0,1704157104000
dbfs:/FileStore/tables/customers_csv.txt,customers_csv.txt,953719,1703833325000
dbfs:/FileStore/tables/customers_json.txt,customers_json.txt,3105168,1703832902000
dbfs:/FileStore/tables/customers_json_parquet/,customers_json_parquet/,0,1704137128000
dbfs:/FileStore/tables/departments_csv.txt,departments_csv.txt,60,1703833340000
dbfs:/FileStore/tables/departments_json.txt,departments_json.txt,288,1703832976000
dbfs:/FileStore/tables/departments_json_parquet/,departments_json_parquet/,0,1704137129000
dbfs:/FileStore/tables/order_items_csv.txt,order_items_csv.txt,5408880,1703833367000
dbfs:/FileStore/tables/order_items_json.txt,order_items_json.txt,28655610,1703833040000
dbfs:/FileStore/tables/order_items_json_parquet/,order_items_json_parquet/,0,1704137130000
dbfs:/FileStore/tables/orders.txt,orders.txt,2999944,1702938901000
dbfs:/FileStore/tables/orders_csv.txt,orders_csv.txt,2999944,1703833384000
dbfs:/FileStore/tables/orders_json-1.txt,orders_json-1.txt,7477339,1703833135000
dbfs:/FileStore/tables/orders_json-1_parquet/,orders_json-1_parquet/,0,1704137132000
dbfs:/FileStore/tables/orders_json.txt,orders_json.txt,7477339,1703833096000
dbfs:/FileStore/tables/orders_json_parquet/,orders_json_parquet/,0,1704137133000
dbfs:/FileStore/tables/orders_json_partition_parquet/,orders_json_partition_parquet/,0,1704174811000
dbfs:/FileStore/tables/part_00000-1.txt,part_00000-1.txt,953719,1703831266000
dbfs:/FileStore/tables/part_00000-2.txt,part_00000-2.txt,60,1703831335000
dbfs:/FileStore/tables/part_00000-3.txt,part_00000-3.txt,5408880,1703831401000
dbfs:/FileStore/tables/part_00000-4.txt,part_00000-4.txt,2999944,1703831455000
dbfs:/FileStore/tables/part_00000-5.txt,part_00000-5.txt,174155,1703831496000
dbfs:/FileStore/tables/part_00000.txt,part_00000.txt,1029,1703831145000
dbfs:/FileStore/tables/part_r_00000_158b7037_4a23_47e6_8cb3_8cbf878beff7.txt,part_r_00000_158b7037_4a23_47e6_8cb3_8cbf878beff7.txt,324978,1703829098000
dbfs:/FileStore/tables/part_r_00000_3db7cfae_3ad2_4fc7_88ff_afe0ec709f49.txt,part_r_00000_3db7cfae_3ad2_4fc7_88ff_afe0ec709f49.txt,288,1703828896000
dbfs:/FileStore/tables/part_r_00000_6b83977e_3f20_404b_9b5f_29376ab1419e.txt,part_r_00000_6b83977e_3f20_404b_9b5f_29376ab1419e.txt,28655610,1703828979000
dbfs:/FileStore/tables/part_r_00000_70554560_527b_44f6_9e80_4e2031af5994.txt,part_r_00000_70554560_527b_44f6_9e80_4e2031af5994.txt,3105168,1703828798000
dbfs:/FileStore/tables/part_r_00000_990f5773_9005_49ba_b670_631286032674.txt,part_r_00000_990f5773_9005_49ba_b670_631286032674.txt,7477339,1703829052000
dbfs:/FileStore/tables/part_r_00000_ce1d8208_178d_48d3_bfb2_1a97d9c05094-1.txt,part_r_00000_ce1d8208_178d_48d3_bfb2_1a97d9c05094-1.txt,4451,1703830465000
dbfs:/FileStore/tables/part_r_00000_ce1d8208_178d_48d3_bfb2_1a97d9c05094.txt,part_r_00000_ce1d8208_178d_48d3_bfb2_1a97d9c05094.txt,4451,1703828559000
dbfs:/FileStore/tables/products_csv.txt,products_csv.txt,174155,1703833407000

In [0]:
%fs rm  dbfs:/FileStore/tables/WA_Fn_UseC__HR_Employee_Attrition-1.csv

In [0]:
%python
HrDF=spark.read.csv('dbfs:/FileStore/tables/HR_Employee.csv',sep=',',header=True)

In [0]:
HrDF.dtypes

[('Age', 'string'),
 ('Attrition', 'string'),
 ('BusinessTravel', 'string'),
 ('DailyRate', 'string'),
 ('Department', 'string'),
 ('DistanceFromHome', 'string'),
 ('Education', 'string'),
 ('EducationField', 'string'),
 ('EmployeeCount', 'string'),
 ('EmployeeNumber', 'string'),
 ('EnvironmentSatisfaction', 'string'),
 ('Gender', 'string'),
 ('HourlyRate', 'string'),
 ('JobInvolvement', 'string'),
 ('JobLevel', 'string'),
 ('JobRole', 'string'),
 ('JobSatisfaction', 'string'),
 ('MaritalStatus', 'string'),
 ('MonthlyIncome', 'string'),
 ('MonthlyRate', 'string'),
 ('NumCompaniesWorked', 'string'),
 ('Over18', 'string'),
 ('OverTime', 'string'),
 ('PercentSalaryHike', 'string'),
 ('PerformanceRating', 'string'),
 ('RelationshipSatisfaction', 'string'),
 ('StandardHours', 'string'),
 ('StockOptionLevel', 'string'),
 ('TotalWorkingYears', 'string'),
 ('TrainingTimesLastYear', 'string'),
 ('WorkLifeBalance', 'string'),
 ('YearsAtCompany', 'string'),
 ('YearsInCurrentRole', 'string'),
 ('YearsSinceLastPromotion', 'string'),
 ('YearsWithCurrManager', 'string')]

In [0]:
HrDF.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 32|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 30|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 38|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|
| 31|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|
| 34|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 29|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|
| 32|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4| Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 38|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [0]:
HrDF.select('*').show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|
| 32|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|
| 30|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|
| 38|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|
| 29|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|
| 31|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|
| 34|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|
| 29|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|
| 32|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4| Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|
| 38|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 20 rows

In [0]:
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import col,sum,when
HrDF.filter(col('Attrition')=='Yes').withColumn('age_group',when((col('age')>=20) & (col('age')<=25),'20-25').\
    when((col('age')>=26) & (col('age')<=32),'26-32').\
    when((col('age')>=33) & (col('age')<=40),'33-40').otherwise('40+')).\
        groupBy('age_group').\
        agg(sum(col('EmployeeCount').cast(IntegerType())).alias('Employee Count')).display()

age_group,Employee Count
20-25,34
33-40,56
26-32,85
40+,62

Databricks visualization. Run in Databricks to view.

In [0]:
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import col,sum,when
HrDF.filter(col('Attrition')=='Yes').\
        withColumn('education',when(col('education')=='1','Below College').\
         when(col('education')=='2','College').when(col('education')=='3','Below College').\
         when(col('education')=='4','Bachelor').\
         when(col('education')=='5','Master').\
         when(col('education')=='6','PhD')).groupBy('education').\
        agg(sum(col('EmployeeCount').cast(IntegerType())).alias('Employee Count')).display()

education,Employee Count
Below College,130
Master,5
Bachelor,58
College,44

Databricks visualization. Run in Databricks to view.

In [0]:
 from pyspark.sql.types import IntegerType
from pyspark.sql.functions import col,sum,when
HrDF.filter(col('Attrition')=='Yes').\
        groupBy('education').\
        agg(sum(col('EmployeeCount').cast(IntegerType())).alias('Employee Count')).display()

education,Employee Count
3,99
5,5
1,31
4,58
2,44

Databricks visualization. Run in Databricks to view.